$main-color: #378AD7;
$background: #FFFFFF;
$complementary-color: #7AADDA;
$secondary-color: #666666;
$h3: black;

$font1: 'Libre Baskerville', serif, sans-serif;
$font2: 'Droiid Serif', serif;
$title-font: 'Rambla', sans-serif;